@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto:wght@700&display=swap');
:root{
    --color-text:rgb(86,78,124);
    --color-arc: rgb(117,98,224);
    --color-card: antiquewhite;
    --color-hover:rgb(12, 67, 97);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: var(--color-text);
}
.dark-mode {
    background-color: rgb(0, 17, 25);
    --color-text: rgb(223, 222, 222);
    --color-arc: rgb(7, 65, 96);
    --color-card: rgb(63,152,146);
    --color-hover: rgb(47, 14, 104);
  }
.main_page{
     overflow:hidden; 
}
.container{
    width: 80%;
    height: 100vh;
    margin: 0 10%;
    position: relative;
}
nav{
    height: 10%;
    display: flex;
    padding: 2% 5%;
    align-items: center;
    gap: 60%;
}
.logo{
    color: var(--color-text);
    font-size: 30px;
    font-weight: bold;
}
.nav-link{
    display: flex;
}
.nav-link li a{
    text-decoration: none;
}

li{
    font-size: 20px;
    list-style: none;
    padding-left: 50px;
    font-weight: bold;
}
.quarter{
	width: 100vh;
    height: 100vh;
    border-radius: 100%;
    background:var(--color-arc);
    right: -50vh;
    bottom: -40vh;
    position: absolute;
    z-index: -1;

}
.name{
    color: var(--color-text);
}
.name h1{
    font-size: 55px;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height:75px;
}
.name p{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 20px;
}
button{
    background-color: var(--color-arc);
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    border: none;

}
button:hover{
    background-color:  var(--color-hover);
}
.middle_row{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    align-items: center;
}
.icons{
    margin-top: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lo{
    width: 20px;
    padding: 10px 0;
}
.lo:hover{
    width:25px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.des{
    padding-top: 8%;
}
.des p{
    text-align: center;
    font-size: 55px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.card-group{
    width: 100%;
    margin:10% auto;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
  }
.card{
    padding: 15px;
    margin: 3%;
    max-width:calc(100%/3);
    min-width: 15rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:var(--color-card);
    justify-content: space-evenly;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.card-header{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.card-text{
    font-family: 'Courier New', Courier, monospace;
}
@media (max-width: 750px) {
    .des p{
        text-align: center;
        font-size: 40px;
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    .card-group{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-evenly;
      }
}

@media (max-width: 390px) {
    .des p{
        text-align: center;
        font-size: 25px;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}